<form>
    <input type="hidden" name="uid" value="{$uid}"/>
    <input type="hidden" name="name" id="input1" value="{$deft.name}"/>
    <input type="hidden" name="phone"id="input2" value="{$deft.phone}"/>
    <input type="hidden" name="address" id="input3" value="{$deft.street}"/>
    <input type="hidden" name="addr" id="input4" value="{$deft.id}"/>
    <div class="weui-cells weui-cells_form user-addr_add">

       <!-- <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">收货人</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" name="name" placeholder="请输入收货人姓名"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" name="phone" placeholder="请输入联系人电话"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">详细地址</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" name="address" placeholder="请输入收货人地址"/>
            </div>
        </div>-->

        <div class="weui-panel order-info order-addr">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">

                        <if condition="$count elt 0">
                            <a href="{:U('Users/addr',array('view'=>'stock'))}" class="weui-cell weui-cell_access">
                                <div class="weui-cell__bd weui-cell_primary">
                                    <p>添加收货地址</p>
                                </div>
                            </a>
                        </if>

                        <if condition="$deft neq null">
                            <a class="weui-cell weui-cell_access" id="showPicker">
                                <div class="weui-cell__hd"><i class="icon-locs"></i></div>
                                <div class="weui-cell__bd weui-cell_primary">
                                    <p class="trans">{$deft.name}  {$deft.phone}</p>
                                    <p class="times">地址：{$deft.street}</p>
                                </div>
                            </a>
                        </if>
                        <if condition="$deft eq null and $count gt 0">
                            <a class="weui-cell weui-cell_access" id="showPicker">
                                <div class="weui-cell__hd"><i class="icon-locs"></i></div>
                                <div class="weui-cell__bd weui-cell_primary">
                                    <p class="trans">请选择</p>
                                    <p class="times">收货地址</p>
                                </div>
                            </a>
                        </if>
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">自提</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number"  placeholder="请输入提货盒数"/>
            </div>
        </div>-->
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">提货盒数</label>(剩余库存{$userdata.stock}盒)</div>
            <!--<div class="weui-cell__bd">
                <input class="weui-input" type="number" name="nums" placeholder="请输入提货盒数"/>
            </div>-->
        </div>

        <!--<div class="weui-grids">
		        <div class="weui-grid" style="text-align: center;">
		            <input type="radio" onclick="getprice()" class="buyt" checked=checked name="nums" value="1">1盒
		        </div>
		        <div class="weui-grid" style="text-align: center;">
		            <input type="radio" onclick="getprice()" class="buyt" name="nums" value="4">4盒
		        </div>
		        <div class="weui-grid" style="text-align: center;">
		            <input type="radio" onclick="getprice()" class="buyt" name="nums" value="12">12盒
		        </div>
		        <div class="weui-grid" style="text-align: center;">
		            <input type="radio" onclick="getprice()" class="buyt" name="nums" value="20">20盒
		        </div>
		        <div class="weui-grid" style="text-align: center;">
		            <input type="radio" onclick="getprice()" class="buyt" name="nums" value="40">40盒
                </div>
            <div class="weui-grid" style="text-align: center;">
                <input type="radio" onclick="selfTo()"  id="getnums" name="nums" >自提
            </div>
    	</div>-->
        <div class="weui-cell" >
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" name="nums" oninput="getprice()"  placeholder="请输入提货盒数"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">选择发货方式</label></div>
            <!--<div class="weui-cell__bd">
                <input class="weui-input" type="number" name="nums" placeholder="请输入提货盒数"/>
            </div>-->
        </div>
        <div class="weui-cells weui-cells_checkbox" style="margin-top: 0">
            <label class="weui-cell weui-check__label" for="s11">
                <div class="weui-cell__hd buyt">
                    <input type="radio" class="weui-check" name="checkbox1" id="s11" checked="checked">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p style="font-size: 1.6rem;color: #666">物流发货</p >
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="getnums">
                <div class="weui-cell__hd ziti">
                    <input type="radio" name="checkbox1" id="getnums" class="weui-check" >
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p style="font-size: 1.6rem;color: #666">公司自提</p >
                </div>
            </label>
        </div>
    	<div class="weui-cell" id="paytran">
            <div class="weui-cell__hd" id="getpay"><label class="weui-label">支付物流费用</label></div>
            <div class="weui-cell__bd">
                <div id="prices"></div>

            </div>
        </div>

        <div class="weui-cell" id ='slefdo' style="display: none">
            <div class="weui-cell__bd">
                <input type="number" class="weui-input"  id="selfnum"  placeholder="请输入提货盒数"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea name="remakes" id="remakes" class="weui-textarea" placeholder="可输入订单备注信息" rows="5" style="font-size: 2rem"></textarea>
                <!--<div class="weui-textarea-counter"><span>0</span>/200</div>-->
            </div>
        </div>
    </div>
</form>
<!--<div id="prices"></div>-->
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:doOption();">确认提货</a>
</div>
<!--<script>
    $(document).ready(function (){
        getprice();
    });
</script>-->
<script>

    var addr = {$addr};

    $('#showPicker').on('click', function () {
        weui.picker({$addrshow}, {
            onConfirm: function (result) {
                var res = addr[result];
                var names = res["name"] + "  " + res["phone"];
                var addrs = "地址：" + res["street"];
                $("#showPicker").find("p[class='trans']").html(names);
                $("#showPicker").find("p[class='times']").html(addrs);
                $("#showPicker").find("p[class='times']").html(addrs);
                $("input[name='addr']").val(res["id"]);
                $("input[name='name']").val(res["name"]);
                $("input[name='phone']").val(res["phone"]);
                $("input[name='address']").val(res["street"]);
                getprice();
            }
        });
    });

    function doOption() {
        var temp = $("form").serializeArray();
        var data = objToArray(temp);
        showPreLoading();
        if($('#getnums').is(':checked')){
            data ['self']=1;
        }else {
            getprice();
        }

        $.ajax({
            url: "{:U('Core/addon','model=order_drs')}", type: 'post',
            data: data, dataType: "json",
            success: function (res) {
                hidePreLoading();
                if (res.status !== 1) {
                    return alert_wec(res.msg);
                }

                if(res.data ){
                    toDopay(res.data);
                }else {
                    window.location.href ="{:U('users/getStocklist')}";
                }

                // window.location.href = "{:U('Users/toPayTrans')}?sn="+res.data;
                //执行支付

            }
        });
    }
    //获取价格 old
    // function getprice() {
    //     var temp = $("form").serializeArray();
    //     var data = objToArray(temp);
    //     showPreLoading();
    //     $.ajax({
    //         url: "{:U('users/getTranPay')}", type: 'get',
    //         data: data, dataType: "json",
    //         success: function (res) {
    //             hidePreLoading();
    //             $('#prices').html('<p style="color: red;text-align: right;font-size: 1.6rem">'+'<span>￥<span>'+res.data+'</p>');
    //         }
    //     });
    // }
    //

    //获取价格 2018年9月11日10:42:07
    function getprice() {
        var temp = $("form").serializeArray();
        var data = objToArray(temp);
        showPreLoading();
        $.ajax({
            url: "{:U('users/gettranprice')}", type: 'get',
            data: data, dataType: "json",
            success: function (res) {
                hidePreLoading();
                $('#prices').html('<p style="color: red;text-align: right;font-size: 1.6rem">'+'<span>￥<span>'+res.data+'</p>');
            }
        });
    }

    /**
     * 微信支付
     * @param {type} data
     * @returns {undefined}
     */

    function toDopay(sn) {
        $.ajax({
            url: "{:U('users/toPayTrans')}",
            type: 'post',
            data: {'sn':sn},
            dataType: "json",
            success: function (res) {
                hidePreLoading();
                if (res.status !== 1) {
                    return alert_wec(res.msg);
                }
                onBridgeReady(res.data);
            },
            error: function () {
                hidePreLoading();
                return alert_wec("网络错误");
            }
        });
    }
    function onBridgeReady(data) {

        var pay = {
            appId: data.appId, timeStamp: data.timeStamp, nonceStr: data.nonceStr, package: data.package,
            signType: data.signType, paySign: data.paySign
        };
        //
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest', pay,
            function (res) {
                if (res.err_msg === "get_brand_wcpay_request:ok") {
                    window.location.href = "{:U('users/getStocklist')}";
                    return;
                }
                 // alert_wec("支付取消");

                alert_wec("支付取消");
                window.location.href = "{:U('users/getStocklist')}";
                return;
            }
        );
    }
</script>

<script>
    function selfTo() {
        $('#prices').html('<p style="color: red;text-align: right;font-size: 1.6rem">'+'<span>￥<span>'+0+'</p>');
        $('#slefdo').css('display','block');
    }
    //
    $('.buyt').on('click',function () {
       $('#paytran').css('display','block');
    })
    $('.ziti').on('click',function () {
       $('#paytran').css('display','none');
    })
    $('#selfnum').blur(function () {
        var nums =$('#selfnum').val();
        $('#getnums').val(nums);
    })
</script>