<div class="pageheader">
    <h2>
        <i class="fa fa-home"></i>
        财务管理
        <!--span>Subtitle goes here...</span-->
    </h2>
    <div class="breadcrumb-wrapper">
        <span class="label">当前位置:</span>
        <ol class="breadcrumb">
            <li class="active">财务管理</li>
        </ol>
    </div>
</div>

<div class="contentpanel">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                提款列表
                <!--a href="{:U('Goods/orderexport','model=orders&type='.$type)}" class="btn btn-primary btn-xs pull-right" target="_blank">导出</a-->
            </h3>
        </div>
        <div class="panel-body">
            <form action="{:U('Fina/index','type='.$type.'&p='.$page)}" class="form-inline mb15" role="form">
                <div class="form-group">
                    <label class="sr-only">Email address</label>
                    <input type="text" name='sn' class="form-control input-sm" id ='sn' value="{$get.sn}" placeholder="请输入订单编号"/>
                </div>
                <div class="form-group">
                    <label class="sr-only">Email address</label>
                    <input type="text" name='phone' class="form-control input-sm" id="phone" value="{$get.phone}" placeholder="请输入手机号码"/>
                </div>
                <div class="form-group">
                    <input type="text" name="name" class="form-control input-sm" id="name" value="{$get.name}" placeholder="请输入持卡人名"/>
                </div>
                <div class="form-group">
                    <input type="text" name='start' class="form-control input-sm"  value="{$get.start}" id="single_start" placeholder="请选择开始时间"/>
                </div>
                <div class="form-group">
                    <input type="text" name='ends' class="form-control input-sm" value="{$get.ends}" id="single_end" placeholder="请选择结束时间"/>
                </div>
                <button type="submit" class="btn btn-default btn-sm">搜索</button>
                <div class="btn btn-default btn-sm" id="doExcel" style="padding-left: 20px;background-color: #2f27b2;color: white;">导出数据</div>
            </form>

            <div class="table-responsive">
                <table class="table table-bordered" id="datatables">
                    <thead>
                        <tr>
                            <th width="5%">#</th>
                            <th width="10%">订单编号</th>
                            <th width="10%">提款用户</th>
                            <th width="10%">金额</th>
                            <th width="10%">持卡人</th>
                            <th width="15%">提款银行</th>
                            <th width="15%">银行卡号</th>
                            <th width="15%">提款时间</th>
                            <th width="5%">状态</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>

                    <volist name="list.list" id="v">
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.sn}</td>
                            <td>{$v.usid|getUserInf=$v['usid'],'nickname',###}</td>
                            <td>{$v.money}</td>
                            <td>{$v.name}</td>
                            <td>{$v.bank|getBankName=$v['bank'],'name',###}</td>
                            <td>{$v.bankcode}</td>
                            <td>{$v.times|date='Y/m/d H:i:s',###}</td>
                            <td>
                                {$v['status']==0?'待支付':''}
                                {$v['status']==1?'已支付':''}
                                {$v['status']==2?'已退回':''}
                            </td>
                            <td>
                                <eq name="v.status" value="0">
                                <a href="javascript:setRolls({$v.id});" class='btn btn-xs btn-success'>退回</a>
                                <a href="javascript:setOrder({$v.id});" class='btn btn-xs btn-danger'>打款</a>
                                </eq>
                            </td>
                        </tr>
                    </volist>

                    </tbody>
                </table>

                <nav class="pagec pull-left">
                    {$list.show}
                </nav>
                <div class="pull-right">
                    <div class="col-sm-1 input-group input-group-sm">
                        <input type="text" id="pages" class="form-control">
                        <span class="input-group-addon" onclick="pagereload();">跳转</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <input type="hidden" id="ssssssssss"  value="{$type}">
</div>

<script>

    laydate.render({elem: '#single_start'});
    laydate.render({elem: '#single_end'});
    function pagereload() {
        var page = $("#pages").val();
        if ($.trim(page) === null || page <= 0) {
            alert("请输入正确的页面编号");
            return false;
        }
        window.location.href = url;
    }

    function setRolls(id) {
        var urls = "{:U('Fina/doRolls')}";
        var data = {ids: id};
        ajaxRt(urls, data);
    }

    function setOrder(id) {
        var urls = "{:U('Core/edits', 'model=money_draw')}";
        var data = {ids: id, status: 1};
        ajaxRt(urls, data);
    }
</script>
<script>
    $("#doExcel").on('click',function(){
        var sn =$('#sn').val();
        var name =$('#name').val();
        var phone =$('#phone').val();
        var start =$('#single_start').val();
        var ends =$('#single_end').val();
        var status =$('#ssssssssss').val();

         window.location.href="{:U('Backet/Doexc/doExcel_fina')}?sn="+sn+"&name="+name+"&phone="+phone+"&start="+start+"&ends="+ends+"&type="+status;
    });
</script>