<img src="__PUBLIC__/home/imgs/sushi1.jpg" class="index-plans_img"/>

<div class="index-plans_desc" style="top:26rem">
    <a href="javascript:doAlert(1);" class="index-plans_join" style="width:100%">
        <img src="__PUBLIC__/home/imgs/s-join1.png"/>
    </a>
    <div class="index-plans_desc_top">注：本系统用户分为普通会员与黄金会员</div>
    <ul>
        <li class='red_s'>
            <div class="box">
                <div class="left">01</div>
                <div class="right">
					注册用户若申请0元体验，提交对应信息并完成认证后，<br>
					即可成为普通会员，
					获得168元天使体验基金，并直接购买一盒168太空素食；
                </div>
            </div>
        </li>
        <li class='blue_s'>
            <div class="box">
                <div class="left">02</div>
                <div class="right">
                    普通会员一个月内购买40盒及以上168太空素食，<br>
					即可自动升级为黄金会员；
					<!--<a href="{:U('Login/regs')}">皇金会员权益</a>-->
                </div>
            </div>
        </li>
        <li class='yellow_s'>
            <div class="box">
                <div class="left">03</div>
                <div class="right">
					黄金会员若成功分享一个新黄金会员完成注册，<br>
					即可获得280元分享红包奖励。
                </div>
            </div>
        </li>
    </ul>
    <div class="index-plans_desc_copy" style="margin-top:4rem">本活动最终解释权由本公司所有</div>
</div>

<script>

    function doAlert() {
        var data = {ids: "{$list.id}"};
        showPreLoading();
        $.ajax({
            url: "{:U('Index/plans_op')}", type: 'post',
            data: data, 
			dataType: "json",
            success: function (res) {
                hidePreLoading();
				console.log(res);
                if (res.status !== 1) {
                    return alert_wec(res.msg);
                }
                window.location.href = res.data;
            }
        });
    }

</script>