<style>
    .weui-article-content img{
        width: 100%;
    }
</style>
<if condition="$info.video neq '#'">
    <iframe src='{$info.video}' frameborder='0' style=" height:20rem; width:100%;"></iframe>
</if>

<div class="page">

    <div class="page__bd">
        <article class="weui-article">
            <h1>{$info.title}</h1>
            <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">发布时间：{$info.times|date='Y年m月d日 H:i:s',###}</li>
            </ul>
            <h1></h1>
            <section class="weui-article-content">
                {$info.content|htmlspecialchars_decode}
            </section>
        </article>
    </div>
</div>


<script>
    wx.ready(function () {
        wx.onMenuShareTimeline({
            title: '{$info.title}',
            link: "{$weburl}Home/Index/schol_infos/id/{$info.id}.html",
            imgUrl: '{$weburl}Public/uploads/school/{$info.imgs}',
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title: '{$info.title}', // 分享标题

            desc: '分享{$info.title}', // 分享描述
            link: "{$weburl}Home/index/schol_infos/id/{$info.id}.html",
            imgUrl: '{$weburl}Public/uploads/school/{$info.imgs}',
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>