<!DOCTYPE html>
<html>
    <head>
        <title>{$conf_title}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta name="format-detection" content="telephone=no" />
        <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
<meta HTTP-EQUIV="expires" CONTENT="0">
        <link href="__PUBLIC__/libs/weui/style/weui.min.css" rel="stylesheet">
        <link href="__PUBLIC__/libs/weui/style/weui-picker.css" rel="stylesheet">
        <link href="__PUBLIC__/home/css/app.css?v={$version}" rel="stylesheet">
        <link href="__PUBLIC__/home/css/icon.css?v={$version}" rel="stylesheet">
        <script src="__PUBLIC__/libs/jquery.min.js" charset="utf-8"></script>
        <script src="__PUBLIC__/libs/weui/js/weui.min.js" charset="utf-8"></script>
        <script src="__PUBLIC__/libs/common.js" charset="utf-8"></script>
        <script src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js'></script>


<!--        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/areachoose/jsdaima.com.css">
        <link rel="stylesheet" href="__PUBLIC__/home/areachoose/LArea.css">
        <script src="__PUBLIC__/home/areachoose/LAreaData1.js"></script>
        <script src="__PUBLIC__/home/areachoose/LAreaData2.js"></script>
        <script src="__PUBLIC__/home/areachoose/LArea.js"></script>-->
        <script src="__PUBLIC__/home/areachoose/weui.min.js"></script>
        <script src="__PUBLIC__/home/areachoose/addrData.js"></script>
        <script src="__PUBLIC__/home/areachoose/addrDataOrigin.js"></script>
        <script>

            wx.config({
                debug: false,
                appId: '{$ticket.appid}',
                timestamp: '{$ticket.timestamp}',
                nonceStr: '{$ticket.noncestr}',
                signature: '{$ticket.signature}',
                jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
            });

        </script>
    </head>
    <body>
        <div class="page">

            <div id="loadingToast" class="none">
                <div class="weui-mask_transparent"></div>
                <div class="weui-toast">
                    <i class="weui-loading weui-icon_toast"></i>
                    <p class="weui-toast__content">处理中</p>
                </div>
            </div>

            <div class="js_dialog none" id="iosDialog">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__bd" id="iosDialogTitle">&nbsp;</div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:;" class="weui-dialog__btn">知道了</a>
                    </div>
                </div>
            </div>

            <div class="content">
                {__CONTENT__}
            </div>

        </div>
        <script>
            window.onload = function () {
                document.addEventListener('touchstart', function (event) {
                    if (event.touches.length > 1) {
                        event.preventDefault();
                    }
                });
                var lastTouchEnd = 0;
                document.addEventListener('touchend', function (event) {
                    var now = (new Date()).getTime();
                    if (now - lastTouchEnd <= 300) {
                        event.preventDefault();
                    }
                    lastTouchEnd = now;
                }, false);
            }
        </script>
    </body>
</html>
