<form>


    <input type="hidden" name="uid" value="{$uid}"/>
    <div class="weui-cells weui-cells_form user-addr_add">

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">收货人</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" name="name" placeholder="请输入收货人姓名"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" name="phone" placeholder="请输入联系人电话"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">选择省市</label></div>
            <div class="weui-cell__bd">
                <!-- <div class="content-block">
                     <input id="cascadePickerBtn" type="text" class="weui-input" name="province" readonly="" placeholder="点击选择省市区" value=""/>
                     <a href="javascript:" style="display:block;width: 100%" id="cascadePickerBtn" class="weui-input">点击选择省市区</a>
                    <input id="cascadePicker" type="hidden" class="weui-input" name="province"  value=""/>
                </div> -->
                <div class="weui-cell__bd">
                <input id="cascadePickerBtn" class="weui-input" type="text" name="province" readonly="" placeholder="点击选择省市区" value="" />
            </div>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label idcard">详细地址</label></div>
            <div class="weui-cell__bd">
                <textarea id="street" class="weui-textarea" name="street" placeholder="详细地址" rows="2"></textarea>
            </div>
        </div>
       <!-- <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">详细地址</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" name="street" placeholder="请输入收货人地址"/>
            </div>
        </div>-->
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label idcard">备注</label></div>
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" name="idcard" placeholder="如有特殊要求请备注" rows="2"></textarea>
            </div>
        </div>
        <div class="weui-cell weui-cell_switch">
            <div class="weui-cell__bd">设置默认地址<br/><p>注：每次下单时会使用该地址</p></div>
            <div class="weui-cell__ft">
                <input class="weui-switch" type="checkbox" checked="checked" name="def" value="1"/>
            </div>
        </div>

    </div>
</form>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:doOption();">保存</a>
</div>

<input type="hidden" id="view" value="{$view}">

<script>

    function doOption() {
        var temp = $("form").serializeArray();
        var data = objToArray(temp);
        var view =$('#view').val();
            if($("#cascadePicker").val() == ""){
            alert_wec("请选择省市区");
            return false;
        }else if($("#street").val() == ""){
            alert_wec("请填写详细地址");
            return false;
        };
        showPreLoading();
        $.ajax({
            url: "{:U('Core/addon','model=acc_addr')}", type: 'post',
            data: data, dataType: "json",
            success: function (res) {
                hidePreLoading();
                if (res.status !== 1) {
                    return alert_wec(res.msg);
                }
                //
                var sn = "{$get.sn}";
                var nums = "{$get.nums}";
                //
                if (sn !== "" && nums !== "") {
                    window.location.href = "{:U('Malls/buyer','sn='.$get['sn'].'&nums='.$get['nums'])}";
                    return;
                }
                if(view){
                    window.location.href = "{:U('Users/"+view+"')}";
                }else {
                    window.location.href = "{:U('Users/addr')}";
                }
            }
        });
    }
</script>

   <script src="__PUBLIC__/home/areachoose/weui.min.js"></script>
   <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="__PUBLIC__/home/areachoose/addrData.js"></script>
        <script src="__PUBLIC__/home/areachoose/addrDataOrigin.js"></script>

<script>
    $("#cascadePickerBtn").click(function(){
    
        var addrData = iosProvinces;
        weui.picker(addrData,{
            depth: 3,
            defaultValue: [22, 0, 3],
          /*  onChange: function onChange(result) {
                // console.log(result);
            },*/
           onConfirm: function onConfirm(result) {
                var data = result[0].label+','+result[1].label+','+result[2].label;
                $('#cascadePickerBtn').val(data);
                // console.log(data);
            },
            id: 'cascadePicker'
        });
});


</script>
