<!--<div class="user-head"><img src="__PUBLIC__/home/imgs/user_head.png"/></div>-->
<style>
    .user-header{
        background-image: -webkit-gradient(linear,left top,right top,from(#4079ff),to(#153afa));
        background-image: -webkit-linear-gradient(left,#4079ff,#153afa);
        background-image: -moz-linear-gradient(left,#4079ff,#153afa);
        background-image: linear-gradient(to right,#4079ff,#153afa);
        background-color: #153afa;

    }
    .index-rider{
        background-image: none;
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
    .index-rider p.level button{
        width: auto;
        padding-left: 8px;
        padding-right: 8px;
        height: 1.6rem;
        line-height: 1.6rem;
        border-radius: 2rem;
    }
    .index-rider p.head {
        padding-top: 1rem;
    }
    .user-data{
        text-align: center;
        color: #FFFFFF;
        /*border-top: 1px solid #F8F8F8;*/
        padding-bottom: 1rem;
    }
    .user-data p{
        color: #FFFFFF;
    }
    .user-data .weui-flex__item{

    }
    .user-data .user-data-des{
        font-size: 12px;
    }
    .icon {
        /* 通过设置 font-size 来改变图标大小 */
        width: 4rem;
        height: 4rem;
        /* 图标和文字相邻时，垂直对齐 */
        vertical-align: -1em;
        /* 通过设置 color 来改变 SVG 的颜色/fill */
        fill: currentColor;
        /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
           normalize.css 中也包含这行 */
        overflow: hidden;
    }
    .user-menu_item p.fonts{
        margin-top: 0;
    }
    .user-menu{
        padding-top: 1rem;
    }
    .user-menu_item p.fonts{
        font-size: 1.4rem;
    }
</style>
<div class="user-header" style="display: flex;flex-direction: column">
    <div class="index-rider">
        <p class="head" id="showIOSActionSheet"><img src="{$user.headimgurl}"></p>
        <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: center;padding-left: 14px">
            <p class="name" style='height:3rem; line-height:3rem;'>
                <eq name="user.nickname" value="">{$user.phone}</eq>
                <neq name="user.nickname" value="">{$user.nickname}</neq>
            </p>
            <p class="level">
                <button style="color: #C3A66B">{$level|getUserLevel=$user['level'],###}</button>
            </p>
            <p class="name" style='height:3rem; line-height:3rem;'>
                上级昵称：{$parent.name}
            </p>
            
            <p style="text-align: center;color: #fff;font-size: 14px;margin-top: 10px">
                系统账号：<span id="sysid">{$user.sysid}</span>
                <textarea style="position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;" id="input"></textarea>
                <!--<button onclick="copyText()">复制</button>-->
                <button class="weui-btn weui-btn_mini weui-btn_default" onclick="copy('{$user.sysid}')" style="line-height: 1.8;color: #2b3c64;padding-left: 8px;padding-right: 8px">点击复制</button>
        </div>

        </p>
    </div>

    <div class="weui-flex user-data">
        <div class="weui-flex__item">
            <a href="{:U('index/money')}">
                <p class="weui-grid__label">{$user.money}</p>
                <p class="weui-grid__label user-data-des">账户余额</p>
            </a>
        </div>
        <div class="weui-flex__item">
            <a href="{:U('users/number_list',array('id'=>$user['id'],'type'=>1))}">
                <p class="weui-grid__label">{$saleinfo.out_nums}</p>
                <p class="weui-grid__label user-data-des">销售量(盒)</p>
            </a>
        </div>
        <div class="weui-flex__item">

            <a href="{:U('users/number_list',array('id'=>$user['id'],'type'=>1))}">
                <p class="weui-grid__label">{$saleinfo.salemoney}</p>
                <p class="weui-grid__label user-data-des">销售额</p>
            </a>
        </div>

        <div class="weui-flex__item">
            <a href="{:U('index/rider')}">
                <p class="weui-grid__label">{$team}</p>
                <p class="weui-grid__label user-data-des">团队人数</p>
            </a>
        </div>

    </div>
</div>



<div class="weui-panel weui-panel_access">
    <div class="weui-panel__ft">
        <a href="{:U('Order/index')}" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">全部订单</div>
            <span class="weui-cell__ft"></span>
        </a>    
    </div>
</div>
<div class="user-menu">
    <a href="{:U('Order/index','st=0')}" class="user-menu_item">
        <p><img src="__PUBLIC__/home/imgs/user_wait.png"/></p>
        <p class="fonts">待支付</p>
    </a>
    <a href="{:U('Order/index','st=1')}" class="user-menu_item">
        <p><img src="__PUBLIC__/home/imgs/user_trans.png"/></p>
        <p class="fonts">已入库</p>
    </a>
    <a href="{:U('Order/index','st=2')}" class="user-menu_item">
        <p><img src="__PUBLIC__/home/imgs/user_save.png"/></p>
        <p class="fonts">待收货</p>
    </a>
    <a href="{:U('Order/index','st=3')}" class="user-menu_item">
        <p><img src="__PUBLIC__/home/imgs/user_fins.png"/></p>
        <p class="fonts">已完成</p>
    </a>
</div>
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__ft">
        <div class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">货物管理</div>
            <span>库存剩余:{$user.stock}盒</span>
        </div>
    </div>
</div>
<div class="user-menu">
    <a href="{:U('malls/goods','sn=415244730815416283')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-19"></use>
            </svg>
        </p>
        <p class="fonts">补充库存</p>
    </a>
    <a  href="{:U('Users/stock')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-4"></use>
            </svg>
        </p>
        <p class="fonts">提货发货</p>
    </a>
    <a href="{:U('Users/getStockList')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-28"></use>
            </svg>
        </p>
        <p class="fonts">提货记录</p>
    </a>
    <a href="{:U('Users/turnstock')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-1"></use>
            </svg>
        </p>
        <p class="fonts">库存转让</p>
    </a>
</div>
<div class="user-menu">
    <a href="{:U('Users/charts')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-2"></use>
            </svg>
        </p>
        <p class="fonts">图表分析</p>
    </a>
    <a href="javacript:void(0)" class="user-menu_item">

    </a>
    <a href="javacript:void(0)" class="user-menu_item">

    </a>
    <a href="javacript:void(0)" class="user-menu_item">

    </a>
</div>

<div class="weui-panel weui-panel_access">
    <div class="weui-panel__ft">
        <div class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">0元计划</div>
            <span style="color: #666666">申请0元计划请先实名认证</span>
        </div>
    </div>
</div>
<div class="user-menu">
    <a href="{:U('Users/plans')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-23"></use>
            </svg>
        </p>
        <p class="fonts">0元计划记录</p>
    </a>
    <a href="{:U('Users/idauth')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tubiao-30"></use>
            </svg>
        </p>
        <p class="fonts">实名认证</p>
    </a>
    <a href="javacript:void(0)" class="user-menu_item">

    </a>
    <a href="javacript:void(0)" class="user-menu_item">

    </a>
</div>

<div class="weui-panel weui-panel_access">
    <div class="weui-panel__ft">
        <div class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">个人信息</div>
        </div>
    </div>
</div>
<div class="user-menu">
    <a href="{:U('Users/bingphone')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-36"></use>
            </svg>
        </p>
        <p class="fonts">手机绑定</p>
    </a>
    <a href="{:U('Users/addr')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tubiao-65"></use>
            </svg>
        </p>
        <p class="fonts">收货地址</p>
    </a>
    <a href="{:U('Users/bank')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tubiao-42"></use>
            </svg>
        </p>
        <p class="fonts">绑定银行卡</p>
    </a>
    <a href="{:U('Users/uppass')}" class="user-menu_item">
        <p>
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-huiyuanziliao-1"></use>
            </svg>
        </p>
        <p class="fonts">修改密码</p>
    </a>
</div>

<div class="weui-cells user-item">

    <a class="weui-cell weui-cell_access" href="{:U('Users/codes')}">
        <div class="weui-cell__bd">
            <p>我的二维码</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div>
<!--BEGIN toast-->
<div id="toast" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">系统账号已复制</p>
    </div>
</div>
<!--end toast-->
<!--<a href="javascript:;" class="weui-btn weui-btn_default" id="showToast">成功提示</a>-->
<!--BEGIN actionSheet-->
<div>
    <div class="weui-mask" id="iosMask" style="display: none"></div>
    <div class="weui-actionsheet" id="iosActionsheet">
        <div class="weui-actionsheet__menu">
            <a href="{:U('Users/photochange')}"><div class="weui-actionsheet__cell">修改头像</div></a>
        </div>
        <div class="weui-actionsheet__action">
            <div class="weui-actionsheet__cell" id="iosActionsheetCancel">取消</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // ios
    $(function(){
        var $iosActionsheet = $('#iosActionsheet');
        var $iosMask = $('#iosMask');
        function hideActionSheet() {
            $iosActionsheet.removeClass('weui-actionsheet_toggle');
            $iosMask.fadeOut(200);
        }
        $iosMask.on('click', hideActionSheet);
        $('#iosActionsheetCancel').on('click', hideActionSheet);
        $("#showIOSActionSheet").on("click", function(){
            $iosActionsheet.addClass('weui-actionsheet_toggle');
            $iosMask.fadeIn(200);
        });
    });
</script>
<a href="{:U('Users/out')}" class="weui-btn user-btns">退出帐号</a>
<style>
    #clipArea {
        height: 300px;
    }
    #file,
    #clipBtn {
        margin: 20px;
    }
    #view {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        background-color: #666;
    }
</style>
<!--<div id="clipArea"></div>-->
<!--<input type="file" id="file">-->
<!--<button id="clipBtn">截取</button>-->
<!--<div id="view"></div>-->
<script language="javascript">
    function copy(message) {
        var input = document.createElement("input");
        input.value = message;
        document.body.appendChild(input);
        input.select();
        input.setSelectionRange(0, input.value.length), document.execCommand('Copy');
        document.body.removeChild(input);

        var $toast = $('#toast');
        if ($toast.css('display') != 'none') return;
        $toast.fadeIn(100);
        setTimeout(function () {
            $toast.fadeOut(100);
        }, 2000);
    }

    function gengxing() {
        alert('提货系统正在升级中');
    }
</script>
<!--头像剪裁-->
<script src="__PUBLIC__/home/photoclip/js/hammer.min.js"></script>
<script src="__PUBLIC__/home/photoclip/js/iscroll-zoom-min.js"></script>
<script src="__PUBLIC__/home/photoclip/js/lrz.all.bundle.js"></script>

<script src="__PUBLIC__/home/photoclip/js/PhotoClip.js"></script>

<script>
    var pc = new PhotoClip('#clipArea', {
        size: 260,
        outputSize: 640,
        //adaptive: ['60%', '80%'],
        file: '#file',
        view: '#view',
        ok: '#clipBtn',
        //img: 'img/mm.jpg',
        loadStart: function() {
            console.log('开始读取照片');
        },
        loadComplete: function() {
            console.log('照片读取完成');
        },
        done: function(dataURL) {
            $.ajax({
                url: "{:U('Users/editSelfinfo')}",//请求的url地址
                dataType: "json",//返回的格式为json
                async: true,//请求是否异步，默认true异步，这是ajax的特性
                data: {"img": dataURL},//参数值
                type: "POST",//请求的方式
                beforeSend: function () {
                },//请求前的处理
                success: function (req) {
                },//请求成功的处理
                complete: function () {
                },//请求完成的处理
                error: function () {
                }//请求出错的处理
            })
        },
        fail: function(msg) {
            alert(msg);
        }
    });

    // 加载的图片必须要与本程序同源，否则无法截图
    pc.load('img/mm.jpg');

</script>
<!--
<script type="text/javascript">
    function copyText() {
        var text = document.getElementById("sysid").innerText;
        var input = document.getElementById("input");
        input.value = text; // 修改文本框的内容
        input.select(); // 选中文本
        document.execCommand("copy"); // 执行浏览器复制命令
        alert("复制成功");
    }
</script>-->
