<style>
    .weui-media-box__desc{
        color: #000;
    }
    .weui-panel__footer:before{
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        color: red;
    }
</style>
<div class="container" id="container">
    <div class="page navbar js_show">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="order-menu">
                <a href="{:U('users/number_list',array('id'=>$user['id'],'type'=>1))}" class="order-menu_item <eq name='type' value='1'>order-menu_item_on</eq>">出售记录</a>
                <a href="{:U('users/number_list',array('id'=>$user['id'],'type'=>2))}" class="order-menu_item <eq name='type' value='2'>order-menu_item_on</eq>">转让记录</a>
                <a href="{:U('users/rebate_list',array('id'=>$user['id'],'type'=>3))}" class="order-menu_item <eq name='type' value='3'>order-menu_item_on</eq>">佣金记录</a>
            </div>

            <div class="weui-tab__panel">
                <!--卖-->
                <volist name="list" id="vo">
                    <div class="weui-panel">
                        <div class="weui-panel__bd">
                            <div class="weui-media-box weui-media-box_text">
                                <!--<h4 class="weui-media-box__title">-￥<em class="num">56.5</em></h4>-->
                                <p class="weui-media-box__desc" style="font-size: 1.6rem">订单号：{$vo.sn}</p>
                                <div class="weui-flex">
                                    <eq name='type' value='1'>
                                        <div class="weui-flex__item"><p class="weui-media-box__desc" style="margin-top: 8px">下单用户：{$vo.buyer}</p></div>

                                    </eq>
                                    <eq name='type' value='2'>
                                        <div class="weui-flex__item"><p class="weui-media-box__desc" style="margin-top: 8px">进货人：{$vo.buyer}</p></div>

                                    </eq>
                                    <div class="weui-flex__item"><p class="weui-media-box__desc" style="margin-top: 8px">数量：{$vo.nums}</p></div>
                                </div>

                                <div class="weui-flex" style="justify-content: space-between">
                                    <ul class="weui-media-box__info">
                                        <li class="weui-media-box__info__meta">交易时间：{$vo.time|date='Y-m-d H:i:s' ,###}</li>
                                    </ul>
                                </div>
                                <div class="weui-panel__footer">
                                    <p style="float: right;font-size: 13px;padding: 10px 0">支付金额：<span style="color: red;font-size: 1.8rem">￥{$vo.pay}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </volist>
                <!--转--><!--
                <volist name="list" id="vo">
                    <div class="weui-panel">
                        <div class="weui-panel__bd">
                            <div class="weui-media-box weui-media-box_text">
                                &lt;!&ndash;<h4 class="weui-media-box__title">-￥<em class="num">56.5</em></h4>&ndash;&gt;
                                <p class="weui-media-box__desc" style="font-size: 1.6rem">订单号：{$v.sn}</p>
                                <div class="weui-flex">
                                    <div class="weui-flex__item"><p class="weui-media-box__desc" style="margin-top: 8px">下单用户：{$v.buyer}</p></div>
                                    <div class="weui-flex__item"><p class="weui-media-box__desc" style="margin-top: 8px">数量：{$v.nums}</p></div>
                                </div>

                                <div class="weui-flex" style="justify-content: space-between">
                                    <ul class="weui-media-box__info">
                                        <li class="weui-media-box__info__meta">交易时间：{$v.times|date='Y-m-d H:i:s' ,###}</li>
                                    </ul>
                                </div>
                                <div class="weui-panel__footer">
                                    <p style="float: right;font-size: 13px;padding: 10px 0">支付金额：<span style="color: red;font-size: 1.8rem">￥0</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </volist>-->
                </div>
            </div>
        </div>
    </div>
</div>
