<div class="order-menu">
    <a href="{:U('Order/index')}" class="order-menu_item <eq name='st' value='10'>order-menu_item_on</eq>">全部</a>
    <!--<a href="{:U('Order/index','st=3')}" class="order-menu_item <eq name='st' value='4'>order-menu_item_on</eq>">交易成功</a>-->
    <a href="{:U('Order/index','st=1')}" class="order-menu_item <eq name='st' value='1'>order-menu_item_on</eq>">已入库</a>
    <a href="{:U('Order/index','st=0')}" class="order-menu_item <eq name='st' value='0'>order-menu_item_on</eq>">待支付</a>
    <a href="{:U('Order/index','st=4')}" class="order-menu_item <eq name='st' value='2'>order-menu_item_on</eq>">已取消</a>
    <input type="hidden" id="st" value="{$st}">
</div>

<volist name="list" id="v">
    <div class="weui-panel order-list">
        <div class="weui-panel__hd">
            <div>
                <i class="iconfont">&#xe63e;</i>{$v.times|date='Y年m月d日 H:i:s',###}
            </div>

            <p class="weui-media-box__price">
                <eq name="v.status" value="0"><span class="waits">待支付</span></eq>
                <eq name="v.status" value="1"><span class="saves">{$v['status']==1?($v['gid']==8?'已入库':'待发货'):''}</span></eq>
                <!--<eq name="v.status" value="2"><span class="saves">待收货</span></eq>-->
                <eq name="v.status" value="3"><span>已完成</span></eq>
                <eq name="v.status" value="4"><span class="cancel">已取消</span></eq>
                <eq name="v.status" value="5"><span class="cancel">自提</span></eq>
            </p>
        </div>
        <div class="weui-panel__bd">
            <a href="{:U('Order/infos','id='.$v['id'])}" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="__PUBLIC__/uploads/goods/{$v.gimgs}"/>
                </div>
                <div class="order-list-right" style="display: flex;justify-content: space-between;width: 100%;text-align: left;">
                    <div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title"><!--<i class="order-list-name-icon green">0元计划</i>--><i class="order-list-name-icon gold">云库存</i>{$v.gname}
                            </h4>
                            <p class="weui-media-box__desc">{$v.introduct}</p>
                            <!--<p class="weui-media-box__desc">订单备注：{$v['remakes']==null?'无':$v['remakes']}</p>-->
                        </div>
                    </div>
                    <div style="text-align: right;">
                        <p>¥{$v.gprice}</p>
                        <p>x{$v.gnums}</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="weui-panel__hd order-price">
            <div class="order-price-name">合计金额</div>
            <div class="order-price-number">¥{$v.money}</div>
        </div>
        <div class="weui-panel__hd order-price">
            <div class="order-price-name">出货人</div>
            <div class="order-list-dealer"><a href="tel:{$v.phone}" style="color:#dcb29f">{$v.up_user}<i class="iconfont">&#xe640;</i></a></div>
        </div>
        <div class="weui-panel__ft">
            <div class="weui-cell weui-cell_link order-btn-list">
                <div class="weui-cell__bd">
                    <if condition="$v['status'] eq 0">
                        <a href="{:U('Malls/payer','sn='.$v['sn'])}" class="waits">去支付</a>
                        <a href="javascript:doOption('{$v.id}');" class="cancel">取消</a>
                    </if>
                    <if condition="$v['status'] eq 1">
                        <a href="{:U('Order/infos','id='.$v['id'])}" class="cancel">查看订单</a>
                    </if>
                    <if condition="$v['status'] eq 2">
                        <a href="{:U('Order/trans','sn='.$v['sn'])}" class="cancel">查看物流</a>
                        <a href="{:U('Malls/buyer','sn='.$v['gsn'].'&nums='.$v['gnums'])}" class="again">再次购买</a>
                    </if>
                    <if condition="$v['status'] eq 3">
                        <a href="{:U('Malls/buyer','sn='.$v['gsn'].'&nums='.$v['gnums'])}" class="again">再次购买</a>
                    </if>
                    <if condition="$v['status'] eq 4">
                        <a href="{:U('Malls/buyer','sn='.$v['gsn'].'&nums='.$v['gnums'])}" class="again">再次购买</a>
                    </if>
                </div>
            </div>    
        </div>
    </div>
</volist>

<style>
    .load-more{
        height: 4rem;
        line-height: 4rem;
        font-size: 1.4rem;
        border-top: 1px solid #f2f2f2;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: -apple-system-font,Helvetica Neue,sans-serif;
        background-color: #FFFFFF;
    }
</style>
<div id="model"></div>
<div class="load-more"  id="ajax-get-self" style="display: {$page};"><i class="iconfont"></i>点击加载更多</div>
<script>

    function doOption(id) {
        var data = {ids: id, status: 4};
        showPreLoading();
        $.ajax({
            url: "{:U('Core/edits','model=orders')}", type: 'post',
            data: data, dataType: "json",
            success: function (res) {
                hidePreLoading();
                if (res.status !== 1) {
                    return alert_wec(res.msg);
                }
                window.location.reload();
            }
        });
    }
		var p= {:I('p',1)};
        $('#ajax-get-self').click(function(){
            var st=$("#st").val();
            //console.log(1);
            showPreLoading();
            $.get("{:U('Order/index')}",{'p':p+1,st: st},function(data){
            	hidePreLoading();
                console.log(data.page);
                if(data.page==null){
                    $("#ajax-get-self").css('display','none');
                }
                if(data.error==1){
                   // $("#ajax-get-self").css('display',data.style);
                    var list = data.data;
                    var html = '';
                    console.log(list);
                    $(list).each(function(i,e){
                            html += '<div class="weui-panel order-list">\
                                        <div class="weui-panel__hd">\
                                            <div>\
                                                <i class="iconfont">&#xe63e;</i>'+ e.ajax_times+'\
                                            </div>\
                                            <p class="weui-media-box__price">\
                                              <span class="'+ e.status_class+'">'+ e.ajax_status+'</span>\
                                            </p>\
                                      </div>\
                                        <div class="weui-panel__bd">\
                                            <a href="" class="weui-media-box weui-media-box_appmsg">\
                                                <div class="weui-media-box__hd">\
                                                    <img class="weui-media-box__thumb" src="__PUBLIC__/uploads/goods/{$v.gimgs}"/>\
                                                </div>\
                                                <div class="order-list-right" style="display: flex;justify-content: space-between;width: 100%;text-align: left;">\
                                                    <div>\
                                                        <div class="weui-media-box__bd">\
                                                            <h4 class="weui-media-box__title"><!--<i class="order-list-name-icon green">0元计划</i>--><i class="order-list-name-icon gold">云库存</i>'+ e.gname+'\
                                                            </h4>\
                                                            <p class="weui-media-box__desc">'+ e.introduct+'</p>\
                                                            </div>\
                                                    </div>\
                                                    <div style="text-align: right;">\
                                                        <p>¥'+ e.gprice+'</p>\
                                                        <p>x'+ e.gnums+'</p>\
                                                   </div>\
                                                </div>\
                                            </a>\
                                        </div>\
                                        <div class="weui-panel__hd order-price">\
                                            <div class="order-price-name">合计金额</div>\
                                            <div class="order-price-number">¥'+ e.money+'</div>\
                                        </div>\
                                        <div class="weui-panel__hd order-price">\
                                            <div class="order-price-name">出货人</div>\
                                            <div class="order-list-dealer">\
                                            <a href="tel:{$v.phone}" style="color:#dcb29f">'+ e.up_user+'\
                                            <i class="iconfont">&#xe640;</i>\
                                            </a>\
                                            </div>\
                                        </div>\
                                        <div class="weui-panel__ft">\
                                            <div class="weui-cell weui-cell_link order-btn-list">\
                                                <div class="weui-cell__bd">';
                                                if(e.status==4){
                                                        html+='<a href="{:U('Malls/buyer')}?sn='+e.gsn +'&nums='+e.gnums +'" class="again">再次购买</a>';
                                                    }
                                                if(e.status==0){
                                                    html+='<a href="{:U('Malls/payer')}?sn='+e.sn +'" class="waits">去支付</a>\
                                                         <a href="javascript:doOption('+e.id+');" class="cancel">取消</a>';
                                                }
                                                if(e.status==1){
                                                    html+='<a href="{:U('Order/infos')}?id='+e.id +'" class="cancel">查看订单</a>';
                                                }
                                                if(e.status==2){
                                                    html+=' <a href="{:U('Order/trans')}?sn='+e.sn +'" class="cancel">查看物流</a>\
                                                            <a href="{:U('Malls/buyer')}?sn='+e.gsn +'&nums='+e.gnums +'" class="again">再次购买</a>';
                                                }
                                                if(e.status==3){
                                                    html+='<a href="{:U('Malls/buyer')}?sn='+e.gsn +'&nums='+e.gnums +'" class="again">再次购买</a>';
                                                }
                                                html+='</div>\
                                                            </div> \
                                                               </div>\
                                                    </div>';
                    });
                }

                p += 1;
                $("#model").append(html);
            })
        });
</script>