<div class="pageheader">
    <h2>
        <i class="fa fa-home"></i>
        库存转让
    </h2>
    <div class="breadcrumb-wrapper">
        <span class="label">当前位置:</span>
        <ol class="breadcrumb">
            <li>系统设置</li>
            <li class="active">库存转让</li>
        </ol>
    </div>
</div>

<div class="contentpanel">

    <div class="row">

        <div class="col-md-4">
            <h5 class="subtitle mb5">处理订单</h5>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" name="addItems">
                        <div class="form-group">
                            <label>出款人</label>
                            <input type="text" name="sysid" class="form-control" id="111" onblur="blue(11)" placeholder="出款人id">
                        </div>
                        <p id="11" style="color: red;text-align: center;font-size: 20px"></p>
                        <div class="form-group">
                            <label>订单号</label>
                            <input type="text" name="sn" class="form-control"  placeholder="订单号">
                        </div>
                        <!--<div class="form-group">
                            <label>转货数量</label>
                            <input type="text" name="nums" class="form-control" placeholder="请输入转货数量">
                        </div>-->
                        <button type="button" class="btn btn-info" onclick="adsLog();">处理</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <h5 class="subtitle mb5">处理记录</h5>
            <table class="table mb30">
                <thead>
                <tr>
                    <th>#</th>
                    <th>订单号</th>
                    <th>还款人</th>
                    <th>上传时间</th>
                </tr>
                </thead>
                <tbody>

                <volist name="data" id="v">
                    <tr>
                        <td>{$v.id}</td>
                        <td>
                            {$v.sn}
                        </td>
                        <td>{$v.inname}</td>
                        <td>{$v.outname}</td>
                        <td>{$v.nums}</td>
                        <td>{$v.time}</td>
                        <!--<td><a href='javascript:dels({$v.id});' class='btn btn-xs btn-danger'>删除</a></td>-->
                    </tr>
                </volist>

                </tbody>
            </table>
        </div>

    </div>

</div>

<script>

    function adsLog() {
        var configURL = "{:U('plans/Pay_plan')}";
        var formelemt = $("form[name=addItems]").serializeArray();
        var data = objToArray(formelemt);
        $.ajax({
            url: configURL,
            secureuri: false,
            dataType: 'json',
            data: data,
            success: function (data) {
                if (data.status !== 1) {
                    alert(data.msg);
                    return false;
                }
                window.location.reload();
            },
            error: function (data) {
                console.log(data);
            }
        });
        return false;
    }




</script>
<script>
    function blue(tag) {
        $.ajax({
            type: "GET",
            url: "{:U('users/getuserbysys')}",
            data: {srsid: $("#"+tag+"1").val()},
            dataType: "json",
            success: function (data) {
                console.log(data);
                if (data == null) {
                    $('#'+tag+'').html('用户不存在，请检查系统号是否正确');
                } else {
                    $('#'+tag+'').html('用户名:' + data.name);
                }
            }
        })

    };
</script>