<form action="{:U('sale/salelist','type='.$get['type'])}" class="form-inline mb15" role="form">
    <!--<div class="form-group">
        <input type="text" name='sn' id="sn" class="form-control input-sm" value="{$sn}" placeholder="请输入订单编号"/>
    </div>-->
    <input type="hidden" value="{$get.type}" name="type">
    <div class="form-group">
    <select name="gid" id="gid" class="form-control  ">
        <volist name="goods" id="vo">
            <option value="{$vo.id}"<if condition="$vo['id'] eq $get['gid']">selected="selected"</if> >{$vo.name}</option>
        </volist>
    </select>
    </div>
    <!--<div class="form-group">
        <select name="where" class="form-control">
            <option value="" <if condition="$get['where'] eq null">selected</if>>全部</option>
            <option value="0" <if condition="$get['where'] eq 0">selected</if> >公司</option>
            <option value="1" <if condition="$get['where'] eq 1">selected</if>>仓库</option>
            <option value="11"<if condition="$get['where'] eq 11">selected</if>>赠送</option>
            <option value="12"<if condition="$get['where'] eq 12">selected</if>>活动</option>
            <option value="13"<if condition="$get['where'] eq 13">selected</if>>员工福利</option>
            <option value="14"<if condition="$get['where'] eq 14">selected</if>>送人</option>
            <option value="15"<if condition="$get['where'] eq 15">selected</if>>其他</option>
        </select>
    </div>-->
    <div class="form-group">
        <input type="text" name='start' class="form-control input-sm" value="{$get.start}" id="single_start" placeholder="请选择开始时间"/>
    </div>
    <div class="form-group">
        <input type="text" name='ends' class="form-control input-sm" value="{$get.ends}" id="single_end" placeholder="请选择结束时间"/>
    </div>
    <button type="submit" class="btn btn-default btn-sm">搜索</button>

    <div class="btn btn-default btn-sm" id="doExcel" style="padding-left: 20px;background-color: #2f27b2;color: white;">导出数据</div>
</form>
<div class="table-responsive">
    <table class="table table-bordered" id="datatables">
        <thead>
        <tr>
            <th width="3%">序号</th>
            <th width="">产品名称</th>
            <th width="">规格型号</th>
            <th width="">计量单位</th>
            <th width="">公司仓库</th>
            <th width="">中通仓库</th>
            <th width="">剩余总库存量</th>
            <th width="">备注</th>
        </tr>
        </thead>
        <tbody>

        <volist name='list.list' id='v'>
            <tr>
                <td>{$v.id}</td>
                <td>{$v.goods}</td>
                <td>{$v.model}</td>
                <td>{$v.unit}</td>
                <td >{$v.company_save}</td>
                <td >{$v.ware_save}</td>
                <td>{$v.all_save}</td>
                <td>{$v.remake}</td>
                <!--<td>
                    <a href="{:U('Conte/quesedits','id='.$v['id'])}" class='btn btn-xs btn-info'>修改</a>
                    <a href="javascript:dels('{$v.id}');" class='btn btn-xs btn-danger'>删除</a>
                </td>-->
            </tr>
        </volist>

        </tbody>
    </table>
</div>