<div class="pageheader">
    <h2>
        <i class="fa fa-home"></i>
        物流管理
    </h2>
    <div class="breadcrumb-wrapper">
        <span class="label">当前位置:</span>
        <ol class="breadcrumb">
            <li>系统设置</li>
            <li class="active">物流管理</li>
        </ol>
    </div>
</div>

<div class="contentpanel">

    <div class="row">

        <div class="col-md-4">
            <h5 class="subtitle mb5">添加物流</h5>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" name="addItems">
                        <div class="form-group">
                            <label>物流公司</label>
                            <input type="text" name="name" class="form-control" placeholder="物流公司">
                        </div>
                        <div class="form-group">
                            <label>状态</label>
                            <select name="status" class="form-control">
                                <option value='1'>使用</option>
                                <option value='0'>关闭</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-info" onclick="adsLog();">新增</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <h5 class="subtitle mb5">物流列表</h5>
            <table class="table mb30">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>物流公司</th>
                        <th>状态</th>
                        <th>上传时间</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>

                <volist name="list" id="v">
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.name}</td>
                        <td>{$v['status']==1?'运行中':'关闭'}</td>
                        <td>{$v.times|date='Y/m/d H:i:s',###}</td>
                        <td>
                            <a href='javascript:dels({$v.id});' class='btn btn-xs btn-danger'>删除</a>
                        </td>
                    </tr>
                </volist>

                </tbody>
            </table>
        </div>

    </div>

</div>

<script>

    function adsLog() {
        var configURL = "{:U('Core/addon', 'model=systrans')}";
        var formelemt = $("form[name=addItems]").serializeArray();
        var data = objToArray(formelemt);
        ajaxRt(configURL, data);
    }

    function dels(id) {
        if (!confirm("确定要删除吗？")) {
            return;
        }
        var configURL = "{:U('Core/dels', 'model=systrans')}";
        var data = {id: id};
        ajaxRt(configURL, data);
    }

</script>